<table mat-table [dataSource]="data" [ngStyle]="{ 'opacity': showHeader ? 1 :0.6  }">
  <ng-container *ngFor="let column of columns">
    <ng-container [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>

      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column.field == 'finishedAt'">
          <mat-checkbox [checked]="element[column.field] != null" (click)="changeTaskStatus(element)"></mat-checkbox>
        </ng-container>
        <ng-container *ngIf="column.field == 'id'">
          <button mat-icon-button color="primary" [routerLink]="['/detalhe/', element[column.field]]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeTask(element[column.field])">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="column.field != 'finishedAt' && column.field != 'id'">
          {{ formatValue(element, column.field)}}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="showHeader">
    <tr mat-header-row *matHeaderRowDef="columnFields"></tr>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: columnFields"></tr>

</table>

<div class="text-center mt-4" *ngIf="showHeader &&  data.length == 0">
  <h3>
    Voce não possui items para exibir
  </h3>
</div>
